.searchbar-input {
    box-shadow: none !important;
}

.restaurant-list {
    agm-map {
        width: 100%;
        height: calc(100vh - 170px);
        // height: 200px;
    }

    ion-footer {
        padding: 8px 16px !important;
    }

    .content-md {
        color: color($colors, black);
    }

}

.card-background-page {

    ion-card {
        position: relative;
        text-align: left;
        img {
            max-height: 170px;
        }
    }

    .grid {
        position: absolute;
        bottom: 0;

        .card-title {
            // position: absolute;
            // bottom: 30px;
            // left: 15px;
            width: 100%;
            font-size: 20px;
            font-weight: bold;
            color: #fff;
        }

        .card-subtitle {
            // position: absolute;
            // bottom: 60px;
            // left: 15px;
            width: 100%;
            font-size: 14px;
            color: #fff;
        }
    }

}

.list-md .item-block .item-inner {
    border-bottom: 0 !important;
}

.segment-md .segment-button {
    border: 0;
}
