<ion-header>
    <ion-navbar hideBackButton>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <div ion-text>{{ 'Lugares' | translate }}</div>
        </ion-title>
        <ion-buttons end>
            <button ion-button (click)="openFilterModal()">
                <ion-icon name="options"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

    <ion-toolbar color="mprimary">
        <ion-searchbar [(ngModel)]="searchKey" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)" placeholder="{{ 'Buscar' | translate }}"></ion-searchbar>
    </ion-toolbar>

    <ion-toolbar color="mprimary">
        <ion-segment [(ngModel)]="viewMode" color="black">
            <ion-segment-button value="list">{{ 'Destacados' | translate }}</ion-segment-button>
            <ion-segment-button value="offers">{{ "Promociones" | translate }}</ion-segment-button>
            <ion-segment-button value="map">{{ 'Cerca de mí' | translate }}</ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content class="lightest-bg restaurant-list" color="white">

    <div *ngIf="viewMode === 'list'">

        <div class="card-background-page">
            <ion-card *ngFor="let restaurant of restaurants | search:filter.price:'price' | search:filter.types:'types' | search:filter.characteristics:'characteristics'"
                (click)="openRestaurantDetail(restaurant)">
                <div class="overlay2" ></div>
                    <img [src]="restaurant.thumbnail" *ngIf="restaurant.thumbnail"/>
                <ion-grid>
                    <ion-row>
                        <ion-col col-8>
                            <div class="card-subtitle" *ngIf="restaurant.type == 'restaurant'">{{ 'Restaurante' | translate }}</div>
                            <div class="card-subtitle" *ngIf="restaurant.type == 'bar'">{{ 'Cóctel Bar' | translate }}</div>
                            <div class="card-title">{{ restaurant.title }}</div>
                        </ion-col>
                        <ion-col text-right align-self-end>
                            <ion-badge color="mprimary">
                                <ion-icon name="star"></ion-icon>
                                {{ restaurant.rating | number:'1.1' }}
                            </ion-badge>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card>

            <div *ngIf="restaurants && restaurants.length < 1">
                <ion-card>
                    <ion-card-content>
                        <p text-center color="black">{{ 'No se han encontrado resultados.' | translate }}</p>
                    </ion-card-content>
                </ion-card>
            </div>
        </div>
    </div>

    <div *ngIf="viewMode === 'offers'">

        <div class="card-background-page">

            <div *ngIf="offers">
                <ion-card *ngFor="let restaurant of restaurants | search:filter.price:'price' | search:filter.types:'types' | search:filter.characteristics:'characteristics'"
                    (click)="openRestaurantDetail(restaurant)">
                    <div *ngIf="restaurant && restaurant.offers && restaurant.offers.length > 0">
                        <div class="overlay2"></div>
                        <img [src]="restaurant.thumbnail" />
                        <ion-grid>
                            <ion-row>
                                <ion-col col-8>
                                    <div class="card-subtitle">{{ 'Restaurante' | translate }}</div>
                                    <div class="card-title">{{ restaurant.title }}</div>
                                </ion-col>
                                <ion-col text-right align-self-end>
                                    <ion-badge color="mprimary">
                                        <ion-icon name="star"></ion-icon>
                                        {{ restaurant.rating | number:'1.1' }}
                                    </ion-badge>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>
                </ion-card>
            </div>

            <div *ngIf="!offers">
                <ion-card>
                    <ion-card-content>
                        <p text-center color="black">{{ 'No hay ofertas.' | translate }}</p>
                    </ion-card-content>
                </ion-card>
            </div>

        </div>
    </div>

    <div *ngIf="viewMode === 'map'">
        <agm-map [latitude]="maplat" [longitude]="maplng" [zoom]="10">
            <agm-marker *ngFor="let restaurant of restaurants | search:filter.price:'price' | search:filter.types:'types' | search:filter.characteristics:'characteristics'; let i = index"
                [latitude]="restaurant.lat" [longitude]="restaurant.long"  [iconUrl]="iconMarker">
                <agm-info-window>
                    <img [src]="restaurant.thumbnail" style="width: 200px" class="mw240" tappable (click)="openRestaurantDetail(restaurant)">
                    <h3 tappable (click)="openRestaurantDetail(restaurant)" color="black">
                        <strong>{{restaurant.title}}</strong>
                    </h3>
                    <p ion-text color="black" no-margin>
                        {{restaurant.address}}
                        <br> {{restaurant.zip}} {{restaurant.city}}
                        <br> {{restaurant.state}}
                    </p>
                </agm-info-window>
            </agm-marker>
        </agm-map>
    </div>

</ion-content>
