<ion-header>
    <ion-navbar color="mprimary">
        <ion-buttons start>
            <button ion-button round (click)="closeModal()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            <span ion-text>{{ 'Filtros' | translate }}</span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <!-- <ion-item margin-bottom>
        <ion-label class="no-margin-bottom">
            <span ion-text color="black" class="fw500">Min/Max Precio:</span>
            <span ion-text color="mprimary"> {{minmaxprice.lower}}€ a {{minmaxprice.upper}}€</span>
        </ion-label>
        <ion-range dualKnobs="true" [(ngModel)]="minmaxprice" min="10" max="1000" step="10" class="no-padding-top"></ion-range>
    </ion-item> -->

    <ion-item *ngIf="filterPrices && filterPrices.length > 0">
        <ion-label class="fw500" color="black">{{ 'Rango de precio' | translate}}</ion-label>
        <ion-select [(ngModel)]="data.price" multiple="true">
            <ion-option *ngFor="let price of filterPrices" [value]="price"
                [selected]="data.price.includes(price)">{{price}}</ion-option>
        </ion-select>
    </ion-item>

    <ion-item *ngIf="filterTypes && filterTypes.length > 0">
        <ion-label class="fw500" color="black">{{ 'Tipo de cocina' | translate }}</ion-label>
        <ion-select [(ngModel)]="data.types" multiple="true">
            <ion-option *ngFor="let type of filterTypes" [value]="type"
                [selected]="data.types && data.types.length > 0 && data.types.includes(type)">{{type}}</ion-option>
        </ion-select>
    </ion-item>

    <ion-item *ngIf="filterCharacteristics && filterCharacteristics.length > 0">
        <ion-label class="fw500" color="black">{{ 'Características' | translate }}</ion-label>
        <ion-select [(ngModel)]="data.characteristics" multiple="true">
                <ion-option *ngFor="let characteristic of filterCharacteristics" 
                    [value]="characteristic" 
                    [selected]="data.characteristics && data.characteristics.length > 0 && data.characteristics.includes(characteristic)"
                >{{characteristic}}</ion-option>
        </ion-select>
    </ion-item>

    <ion-item *ngIf="filterDistance > 0">
        <ion-range min="10" max="90" step="10" pin="true" color="black" [(ngModel)]="filterDistance">
            <ion-label class="fw500" color="black" range-left>{{ 'Distancia' | translate }}</ion-label>
            <ion-label range-right>{{filterDistance}} km</ion-label>
        </ion-range>
    </ion-item>
</ion-content>

<ion-footer>
    <button ion-button block color="mprimary" (click)="filter()">{{ 'Filtrar' | translate }}</button>
</ion-footer>
