page-restaurant-filter {
	.item {
		padding-left: 0;
		&.item-block {
			.item-inner {
			  border-style: solid;
			  border-width: 1px;
			  border-color: transparent;
			  border-bottom-color: rgba(color($colors, mprimary), .2);
			}
		}
	}

	ion-select {
	    max-width: 50%;
	    &.select-ios,
	    &.select-md {
	    	padding-top: 18px;
	    	padding-bottom: 18px;
	    }
	}
}
