page-category {
	.card-background-page {

	  ion-card {
	  	margin: 0;
    	width: 100%;
    	border-radius: 0;
	    position: relative;
	    text-align: center;
	    border-bottom: 1px solid rgba(color($colors, mprimary), .65);
    	&:after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			box-shadow: inset 0 0 28rem 0 rgba(0, 0, 0, .75);
    	}
    	&:last-of-type {
    		border-bottom: 0;
    	}
	  }

	  .card-title {
	    position: absolute;
	    top: 36%;
	    font-size: 2.5rem;
	    width: 100%;
	    font-weight: bold;
	    color: #fff;
	    text-shadow: 2px 2px 0 rgba(0, 0, 0, .75);
	  }

	  .card-subtitle {
	    font-size: 1.5rem;
	    font-weight: 500;
	    position: absolute;
	    top: 52%;
	    width: 100%;
	    color: #fff;
	    text-shadow: 1px 1px .5rem rgba(0, 0, 0, 1);
	  }

	}
}
