<ion-content *ngIf="render">

    <div text-center>
        <div class="logo">
            <img src="assets/img/logo-full-white.png">
        </div>
    </div>

    <div padding>
        <form [formGroup]="onLoginForm">

            <ion-item>
                <ion-label floating>{{ 'Usuario' | translate }}</ion-label>
                <ion-input [(ngModel)]="data.email" type="email" formControlName="email"></ion-input>
            </ion-item>
            <p ion-text color="danger" class="text-12x has-error" *ngIf="onLoginForm.get('email').touched && onLoginForm.get('email').hasError('required')">{{ 'Este campo es obligatorio' | translate }}</p>

            <ion-item>
                <ion-label floating>{{ 'Contraseña' | translate }}</ion-label>
                <ion-input [(ngModel)]="data.password" [type]="passwordType" formControlName="password" clearOnEdit="false"></ion-input>
                <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
            </ion-item>
            <p ion-text color="danger" class="text-12x has-error" *ngIf="onLoginForm.get('password').touched && onLoginForm.get('password').hasError('required')">{{ 'Este campo es obligatorio' | translate }}</p>

        </form>

        <p text-right ion-text color="black" tappable (click)="forgotPass()">
            <strong>{{ '¿Olvidaste la contraseña?' | translate }}</strong>
        </p>

        <button ion-button icon-start block round color="mprimary" margin-top (click)="login()" [disabled]="!onLoginForm.valid">
            {{ 'Iniciar sesión' | translate }}
        </button>
        <button ion-button icon-start block round color="mprimary" margin-top (click)="openRegisterPage()">
            {{ 'Crear cuenta' | translate }}
        </button>
        <ion-grid padding >
            <ion-row>
                <ion-col col-12 no-padding text-center  >
                    <button *ngFor="let language of this.availableLanguages"  [disabled]="language.code == translate.currentLang" ion-fab class="btn-language" color="mprimary" tappable (click)="toggleLanguage(language)">{{language.name}}</button>    
                </ion-col>
            </ion-row>
        </ion-grid>



        <p text-center ion-text color="black">
                <a target="_blank" href="http://terracy.com/politica-de-privacidad/">{{ 'POLÍTICA DE PRIVACIDAD' | translate }}</a>
            </p>
    

    </div>

</ion-content>

<ion-footer>
    <button ion-button full class="btn-facebook" (click)="openFacebook()">
        <ion-icon name="logo-facebook" style="margin-right: 5px"></ion-icon> {{ 'Iniciar sesión con Facebook' | translate }}
    </button>
</ion-footer>
