// page-auth, .auth {
//     .grid {
//         padding: 0;
//         .col {
//             padding: 0;
//         }
//     }

//     .btn-group {
//         .button-ios, .button-md {
//             border-radius: 0;
//             &:first-of-type {
//                 border-radius: 2px 0 0 2px;
//             }
//             &:last-of-type {
//                 border-radius: 0 2px 2px 0;
//             }
//         }
//     }

//     .scroll-content {
//         display: flex;
//         align-items: baseline;
//         justify-content: center;

//         .auth-content {
//             width: 100%;
//             .logo {
//                 margin: 0;
//                 background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/img/intro/intro01.jpg);
//                 background-repeat: no-repeat;
//                 background-position: center;
//                 background-size: cover;
//                 padding: 15% 0;
//                 position: relative;
//                 img {
//                     width: 80%;
//                 }
//             }

//             // .list-form {
//             //     padding: 0;
//             //     margin-bottom: 0;
//             //     ion-item {
//             //         background: none;
//             //         padding: 0;
//             //         &:first-child {
//             //             border-top: none;
//             //         }
//             //         &:after {
//             //             display: none;
//             //         }
//             //         &.item-md, .item-ios {
//             //             &.item-block {
//             //                 .item-inner {
//             //                     border-bottom-color: rgba(color($colors, black), 1);
// 			// 				}
// 			// 			}
//             //         }
//             //         ion-label {
//             //             font-size: 1em;
//             //             color: color($colors, black);
//             //             &.label-ios, &.label-md {
//             //                 margin-top: 0;
//             //             }
//             //         }
//             //         input {
//             //             color: color($colors, black);
//             //         }
//             //     }
//             // }
//         }
//     }
// }

// @media (min-width: 768px) {
//     page-auth, .auth {
//         .scroll-content {
//             .auth-content {
//                 width: 40%;
//             }
//         }
//     }
// }

page-auth {
    width: 100%;
    .logo {
        margin: 0;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/intro/intro01.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 15% 0;
        position: relative;
        img {
            width: 80%;
        }
    }

    .item-md {
        padding-left: 0;
    }
    
    .passwordIcon{
        font-size:2rem !important;
        position: relative !important;
        top: 22px !important;
        margin: 0 auto !important;
     }

     .btn-language {
         display: inline-block;
         margin: 1%;
     }
}
