.order-confirmation {

    .order-confirmation-content {
        width: 100%;
        .logo {
            margin: 0;
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/intro/intro01.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding: 15% 0;
            position: relative;
            img {
                width: 80%;
            }
        }
    }

}
