<ion-header>
    <ion-navbar color="mprimary">
        <ion-title>
            <span ion-text>{{ 'Confirmación de reserva' | translate }}</span>
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content class="order-confirmation">

    <div class="order-confirmation-content">

        <div text-center>
            <div class="logo">
                <img src="assets/img/logo-full-white.png">
            </div>
        </div>

        <ion-grid style="margin-top:15%">
            <ion-row>
                <ion-col col-1></ion-col>
                <ion-col col-2>
                    <ion-icon name="checkmark-circle" style="color:green; font-size: 60px"></ion-icon>
                </ion-col>
                <ion-col style="padding: 0 0 0 15px;">
                    <p ion-text color="black" style="margin: 0; font-weight: bold; font-size: 20px;">{{ 'Muchas gracias. Tu reserva se ha realizado correctamente.' | translate }}</p>
                </ion-col>
                <ion-col col-1></ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid class="banner" *ngIf="banner">
            <ion-row margin-bottom>
                <ion-col width-12 text-center>
                    <p><a [href]="banner.url" target="_blank"><img [src]="banner.src" [title]="banner.name" /></a></p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

</ion-content>

<ion-footer>
    <button ion-button full color="mprimary" (click)="goToOrders()">{{ 'Mis reservas' | translate }}</button>
</ion-footer>
