.order-add {
    .card {
        width: auto;
        border-radius: 0;
        margin: 0;
    }

    .select {
        padding: 13px;
    }

    ion-select {
        max-width: 100%;
    }

    .select-icon {
        display: none
    }

    .order-add-card {
        ion-card-content {
            padding: 0 0 16px;
            // background-color: map-get($colors, mprimary);
            color: color($colors, black);
            text-align: center;
            // box-shadow: inset 0 0 8rem rgba(0, 0, 0, .4);

            img {
                max-height: 480px;
                border-bottom: solid 4px color($colors, mprimary);
                display: inline;
            }

            h2 {
                font-size: 2.45rem;
                margin-top: .5rem;
                color: color($colors, black);
            }

            h3 {
                font-size: 1.5rem;
                color: color($colors, black);
            }

            h5 {
                font-size: 22px;
                background: color($colors, mprimary); //#e9bd4e;
                padding: 12px;
                margin: -35px -30px 30px;
            }

        }

    }


}

.action-sheet-cancel {
    font-weight: bold !important;
}
