
<ion-header>
    <ion-navbar color="mprimary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title *ngIf="restaurant && restaurant.id">
            <span ion-text>{{ restaurant.title }}</span>
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content class="order-add" *ngIf="restaurant && restaurant.id">

    <ion-card class="order-add-card">

        <ion-card-content>

            <ion-slides pager>
                <ion-slide *ngFor="let image of restaurant.images">
                    <img src="{{ image }}">
                </ion-slide>
            </ion-slides>

            <div padding>
                <ion-grid>
                    <ion-row *ngIf="offer">
                        <ion-col>
                            <h5 ion-text color="black">{{ "Promoción" | translate }}</h5>
                            <h2 ion-text>{{ offer.title }}</h2>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="!offer">
                        <ion-col>
                            <h5 ion-text color="black" *ngIf="restaurant.type == 'restaurant'">{{ 'Restaurante' | translate }}</h5>
                            <h5 ion-text color="black" *ngIf="restaurant.type == 'bar'">{{ 'Cóctel Bar' | translate }}</h5>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <h4 ion-text color="black">{{ 'Fecha' | translate }}</h4>
                            <h2 ion-text>
                                <ion-select [(ngModel)]="date" (ngModelChange)="changeDateTime($event)" interface="action-sheet" cancelText="{{ 'Cancelar' | translate }}">
                                    <ion-option value="">{{ 'Seleccionar fecha' | translate }}</ion-option>
                                    <ion-option *ngFor="let day of days" [value]="day">{{ day | date: 'dd/MM/yyyy' }}</ion-option>
                                </ion-select>
                            </h2>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <h4 ion-text color="black">{{ 'Hora' | translate }}</h4>
                            <h2 ion-text>
                                <ion-select [(ngModel)]="hour" (ngModelChange)="changeDateTime($event)" interface="action-sheet" cancelText="{{ 'Cancelar' | translate }}" placeholder="{{ 'Seleccionar hora' | translate }}">
                                    <ion-option *ngFor="let time of hours" [value]="time">{{time}}</ion-option>
                                </ion-select>
                            </h2>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="offer">
                        <ion-col>
                            <h4 ion-text color="black">{{ 'Precio' | translate }}</h4>
                            <h2 ion-text>{{ offer.price * qtd }}</h2>
                            <p ion-text color="black" *ngIf="offer.priceInfo">{{ offer.priceInfo }}</p>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-grid class="filters" no-padding fixed  *ngIf="limit > 0">
                    <ion-row margin-bottom>
                        <ion-col text-center>
                            <ion-icon name="remove-circle" class="text-4x" tappable (click)="minusQtd()" color="mprimary"  *ngIf="qtd > 1"></ion-icon>
                        </ion-col>
                        <ion-col width-10 text-center>
                            <h4 ion-text color="black">{{ 'Personas' | translate }}</h4>
                            <h2 ion-text>{{ qtd }}</h2>
                        </ion-col>
                        <ion-col width-10 text-center>
                            <ion-icon name="add-circle" class="text-4x" tappable (click)="plusQtd()" color="mprimary"  *ngIf="qtd < limit"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </ion-card-content>

    </ion-card>

</ion-content>

<ion-footer>
    <button ion-button full color="mprimary"  *ngIf="qtd > 0 && date.length > 0" (click)="send()">
        <ion-row>
            <ion-col text-right>
                    <ion-icon name="calendar"></ion-icon> 
            </ion-col>
            <ion-col text-left>
                    {{ 'Reservar' | translate }}
            </ion-col>
        </ion-row>
    </button>
</ion-footer>