<ion-header>
    <ion-navbar color="mprimary">
        <ion-buttons start>
            <button ion-button round (click)="closeModal()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            <span ion-text>{{ 'Únete a TERRACY' | translate }}</span>
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding class="page-auth-register">

    <form [formGroup]="onRegisterForm" class="list-form">

        <ion-item>
            <ion-label floating>{{ 'Nombre' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="data.fullName" formControlName="fullName"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>{{ 'Correo electrónico' | translate }}</ion-label>
            <ion-input type="email" [(ngModel)]="data.email"  formControlName="email"></ion-input>
        </ion-item>
        <p ion-text color="danger" class="text-12x has-error" *ngIf="onRegisterForm.get('email').touched && onRegisterForm.get('email').hasError('required')">{{ 'Este campo es obligatorio' | translate }}</p>

        <ion-item>
            <ion-label floating>{{ 'Contraseña' | translate }}</ion-label>
            <ion-input type="password" [(ngModel)]="data.password"  formControlName="password"></ion-input>
        </ion-item>
        <p ion-text color="danger" class="text-12x has-error" *ngIf="onRegisterForm.get('password').touched && onRegisterForm.get('password').hasError('required')">{{ 'Este campo es obligatorio' | translate }}</p>

    </form>

    <p>
        {{ 'Al continuar, manifestarás tu conformidad con' | translate }} <a target="_blank" href="http://terracy.com/politica-de-privacidad/">{{ 'nuestra política de privacidad y nuestras condiciones de uso' | translate }} </a>
    </p>
</ion-content>

<ion-footer>
    <button ion-button full color="mprimary" (click)="register()">{{ 'Guardar' | translate }}</button>
</ion-footer>
