.page-auth-register {
    p {
        color: color($colors, black);
    }
    .has-error {
        color: color($colors, danger);
    }
    // a {
    //     color: color($colors, mprimary);
    // }
    ion-item {
        padding: 0;
    }
}
