.tutorial-page {

    .overlay {
        position: absolute;
        z-index: 1;
        width:100%;
        top: 0;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
    }

    .diag {
        position: absolute;
        z-index: 1;
        width:100%;
        top: 0;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .logo {
        position: relative;
    }

    ion-icon {
        margin-top: 40%;
        font-size: 7em;
    }

    h2 {
        font-weight: bold;
        font-size: .7em;
        color: white !important;
    }

    p {
        width: 73%;
        display: block;
        margin: 0 auto;
        font-size: .7em;
        color: white;
    }



    .swiper-pagination {
        bottom: 80px !important;
    }

    .info {
        position: absolute;
        top: 15%;
        z-index: 100;
        width: 100%;
    }

    .start {
        position: absolute;
        bottom: 0;
        z-index: 100;
        width: 100%;
    }

    ion-toolbar {
		.toolbar-background {
			background-color: transparent;
		}
        position: absolute;
        top: 0;
		z-index: 100;
    }

    .videoPlayer {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%; min-height: 100%;
        width: auto; height: auto; z-index: -100;
        background: url(../assets/img/intro/intro01.jpg) no-repeat;
        background-size: cover;
        bottom: 0;
    }

}

.swiper-pagination-bullet-active {
    background: color($colors, mprimary);
    opacity: 1;
}
