<!-- <ion-content class="primary-bg">
	<ion-grid no-padding fixed>
		<ion-row no-padding>
			<ion-col>

			  <ion-slides pager="true" dir="{{dir}}">
			    <ion-slide *ngFor="let slide of slideList">
			      <ion-toolbar fixed>
			        <ion-buttons end>
			          <button ion-button color="light" (click)="onLastSlide()">Skip</button>
			        </ion-buttons>
			      </ion-toolbar>
			      <img [src]="slide.image" class="slide-image">
			      <h3 class="slide-title text-white" [innerHTML]="slide.title"></h3>
			      <p [innerHTML]="slide.description" class="text-white"></p>

						<div padding>
				      <button ion-button round block color="secondary" margin-top icon-end (click)="onSlideNext()">
				      	Next
				      	<ion-icon name="arrow-round-forward" color="light"></ion-icon>
				    	</button>
			    	</div>
			    </ion-slide>
			    <ion-slide>
			      <ion-toolbar>
			      </ion-toolbar>
			      <img src="assets/img/foodIonic-ico.png" class="slide-image" margin-top>
			      <h2 class="slide-title text-white">Ready to Lunch?</h2>

			      <div padding>
			        <button ion-button block round color="secondary" margin-top (click)="openAuthPage()">
			          Sign In / Sign Up
			        </button>
			        <button ion-button block round color="dark" margin-top (click)="openHomePage()">
			          Get Started
			        </button>
			      </div>
			    </ion-slide>
			  </ion-slides>

			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content> -->


<!-- <ion-content class="tutorial-page">

	<ion-slides pager>
		<ion-slide *ngFor="let slide of slideList" style="position: relative">

			<ion-toolbar>
				<ion-buttons end>
					<button ion-button color="primary">Skip</button>
				</ion-buttons>
			</ion-toolbar>
			<div class="test" [ngStyle]="{'background-image': 'url(' + slide.image + ')'}"></div>
			<ion-card style="position: absolute; bottom: 100px">
				<ion-card-content>
					<h2 class="slide-title" [innerHTML]="slide.title"></h2>
					<p [innerHTML]="slide.description"></p>
				</ion-card-content>
			</ion-card>
		</ion-slide>
		<ion-slide>
			<ion-toolbar></ion-toolbar>
			<h2 class="slide-title">Ready to Play?</h2>
			<button ion-button large clear icon-end color="primary">
				Continue
				<ion-icon name="arrow-forward"></ion-icon>
			</button>
		</ion-slide>
	</ion-slides>
</ion-content> -->


<ion-content class="tutorial-page">
	<ion-slides pager (ionSlideDidChange)="slideChanged()" (ionSlideDrag)="slideDragging()">

		<ion-slide *ngFor="let slide of slideList; let i = index">
			<ion-toolbar *ngIf="i < 3">
				<ion-buttons end>
					<button ion-button color="white" (click)="onSlideNext()">{{ 'Siguiente' | translate }}</button>
				</ion-buttons>
			</ion-toolbar>

			<div class="diag" *ngIf="!slide.source" [ngStyle]="{'background-image': 'url(' + slide.image + ')'}">
				<div class="overlay"></div>
			</div>

			<div class="diag" *ngIf="slide.source">
				<div class="overlay"></div>
				<video #introVideo loop="loop" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer">
						<source src="{{slide.source}}" type="video/mp4" />
				</video>
			</div>
			<div class="info">
				<div text-center *ngIf="!slide.source" >
						<div class="logo">
								<img src="assets/img/logo-full-white.png">
						</div>
				</div>
				<h2 *ngIf="slide.title" >{{ slide.title }}</h2>
				<p *ngIf="slide.description" >{{ slide.description }}</p>
			</div>
			<div class="start" padding *ngIf="i == 3">
				<button ion-button block round color="mprimary" margin-top (click)="openAuthPage()">{{ 'EMPEZAR' | translate }}</button>
				<!-- <button ion-button block round color="mprimary" margin-top (click)="openHomePage()">INICIO</button> -->
			</div>
		</ion-slide>

	</ion-slides>
</ion-content>
