<ion-header *ngIf="restaurant && restaurant.id">
    <ion-navbar color="mprimary">
        <ion-buttons start>
            <button ion-button round (click)="closeModal()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            <span ion-text>{{ 'NUESTRAS PROMOCIONES' | translate }}</span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding *ngIf="restaurant && restaurant.id">
    <ion-grid no-padding fixed>
        <ion-row no-padding>
            <ion-col>
                <ion-card no-padding class="list" *ngFor="let item of restaurant.offers">
                    <ion-card-header padding>
                        <ion-grid no-padding>
                            <ion-row no-padding>
                                <ion-col align-self-center color="mprimary" col-10>
                                    <h2 style="white-space: initial; font-weight: bold">{{ item.title }}</h2>
                                </ion-col>
                                <ion-col align-self-top text-right col-2>
                                    <ion-badge item-end align-self-start color="msecondary" *ngIf="item.price">
                                        {{ item.price }}
                                    </ion-badge>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-header>
                    <ion-card-content>
                        <div *ngFor="let content of item.content">
                            <img *ngIf="content.image" src="{{ content.image }}" />
                        </div>
                        <div *ngFor="let content of item.content" style="margin: 0 15px">
                            <h2 *ngIf="content.title" color="black" ion-text class="fw700">{{ content.title }}</h2>
                            <p *ngIf="content.paragraph">{{ content.paragraph }}</p>
                        </div>
                        <ion-grid padding>
                            <ion-row no-padding>
                                <ion-item *ngIf="item.priceInfo">
                                    <h2 color="black" ion-text class="fw700">{{ 'Precio' | translate }}</h2>
                                    <p ion-text color="black">{{ item.priceInfo }}</p>
                                </ion-item>
                                <ion-item *ngIf="item.conditions">
                                    <h2 color="black" ion-text class="fw700">{{ 'Condiciones' | translate }}</h2>
                                    <p ion-text color="black">{{ item.conditions }}</p>
                                </ion-item>
                            </ion-row>
                        </ion-grid>

                        <button ion-button block full color="mprimary" style="margin:0" (click)="addOrder(item.id)">
                            <ion-col text-center>
                                <ion-icon name="calendar" style="margin-right: 5px"></ion-icon> {{ 'Reservar' | translate }}
                            </ion-col>
                        </button>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
