// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Grid Fixed
// ---------------------------------------------------
ion-header .toolbar {
 margin: auto;
}

@media (min-width: map-get($grid-breakpoints, lg)) {
 ion-header .toolbar[fixed],
 ion-footer .toolbar[fixed],
 ion-tabs .tabbar {
   margin: 0;
   padding-right: calc((100% - #{map-get($grid-max-widths, lg)}) / 2);
   padding-left: calc((100% - #{map-get($grid-max-widths, lg)}) / 2);
 }
}

.split-pane-visible > ion-menu {
  max-width: 304px !important;
}

.split-pane-visible > .split-pane-side {
	border-right: none !important;
	box-shadow: 0 0 10px rgba(0, 0, 0, .25) !important;
}
// ----------------------------------------------------


.menu-logo {
  height: 80px;
  margin: 12px 0 0 90px;
}

// Headers
.header-md {
	// box-shadow: 0 1px 8px rgba(color($colors, primary), .2);
	&::after {
		background: none;
	}
}

.back-button {
	color: color($colors, black);
}



// **** Helpers **** //

// Fonts
.fw300 {
	font-weight: 300 !important;
}

.fw500 {
	font-weight: 500 !important;
}

.fw700 {
	font-weight: 700 !important;
}

// Colors
.text-black {
	color: #000;
}

.text-white {
	color: #fff !important;
}

.text-primary {
	color: color($colors, mprimary) !important;
}

.text-secondary {
	color: color($colors, msecondary) !important;
}

.text-dark {
	color: color($colors, black) !important;
}

.text-light {
	color: color($colors, white) !important;
}

.text-green {
	color: #68C91F !important;
}

// Text sizes
.text-sm {
	font-size: .85rem !important;
}

.text-1x {
	font-size: 1rem !important;
}

.text-11x {
	font-size: 1.1rem !important;
}

.text-12x {
	font-size: 1.2rem !important;
}

.text-18x {
	font-size: 1.8rem !important;
}

.text-2x {
	font-size: 2rem !important;
}

.text-22x {
	font-size: 2.2rem !important;
}

.text-25x {
	font-size: 2.5rem !important;
}

.text-4x {
	font-size: 4rem !important;
}

.ofhidden {
	overflow: hidden;
}

.clear {
  clear: both;
}

// Backgrounds
.menu-bg {
	.content {
    background-image: linear-gradient(90deg, #fff 60%, lighten(color($colors, white), 57%));
	}
	.item {
		background-color: transparent;
	}
}

.profiles-bg {
	background-image: linear-gradient(135deg, color($colors, msecondary), color($colors, mprimary)) !important;
}

.white-bg {
	background-color: #fff !important;
}

.lightest-bg {
	background-color: lighten(color($colors, white), 6%) !important;
}

.light-bg {
	background-color: color($colors, white) !important;
}

.primary-bg {
	background-color: color($colors, mprimary) !important;
}

.secondary-bg {
	background-color: color($colors, msecondary) !important;
}

.dark-bg {
	background-color: color($colors, black) !important;
}

.green-bg {
  background-color: #68C91F;
}

.profile-bg {
  background: color($colors, white);
  .scroll-content {
  	background: color($colors, white);
  }
}

.align-bottom {
  position: absolute;
  bottom: 0;
}

// Measure
.full-width {
	width: 100% !important;
}

.max-width {
	max-width: 100% !important;
}

// margins & paddings force
.no-margin {
	margin: 0 !important;
}

.no-padding {
	padding: 0 !important;
}

// Forms
.has-error {
    margin: 0;
    padding: .75rem;
    background-color: color($colors, white);
    border-radius: 0 0 4px 4px;
}

// buttons configs
.btn-facebook {
  background-color: #3B5999;
}

.btn-twitter {
  background-color: #00ACEE;
}

.btn-gplus {
  background-color: #E04006
}

// Menu user profile
.user-profile {
  padding: 0 !important;

  // margin: -16px -16px 0;
  // background-image: linear-gradient(135deg, color($colors, dark), color($colors, primary), color($colors, secondary));
  background-color: color($colors, mprimary);
  .item {
    border: 0 !important;
		background-color: transparent;
    ion-avatar {
      margin: 24px 16px 24px 0;
      img {
        width:auto;
        height:auto;
        max-height: 40px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10rem inset, rgba(255, 255, 255, .45) 0px 0px 4rem;
      }
    }
  }
  .card {
    border-radius: 0;
    background-color: transparent;
  }
  .other-data {
    border-top: 1px solid rgba(color($colors, mprimary), .25);
    .column {
      background-color: rgba(color($colors, mprimary), .25);
      &:first-child {
        border-right: 1px solid rgba(color($colors, mprimary), .25);
      }
    }
  }
}


.user-list {
	margin-bottom: 1.5rem;
  .item {
  	color: color($colors, black);
    background-color: color($colors, white);
    &:last-child {
      border-bottom: 0;
    }
    .item-inner {
      border-color: rgba(color($colors, white), .15) !important;
    }
    &.list-header {
    	background-color: color($colors, white) !important;
    	.label {
			font-weight: 700;
    	}
    }
  }
}

// list style
.list-no-border {

  .item:first-child {
    border: none;
  }
  .item:last-child {
    border: none;
  }

  .item {
    .item-inner {
      border: none;
    }
  }
}

.list-full-border {
  @extend .list-no-border;

  .item,
  .item:first-child,
  .item:last-child {
    border-bottom: 1px solid rgba(color($colors, black), .2);
    .item-inner {
      border: none;
    }
  }
}

// Borders
.light-mb {
	border-bottom: 1px solid rgba(color($colors, mprimary), .25);
}

// Margin & Padding
.no-margin-bottom {
	margin-bottom: 0;
}

.no-padding-top {
	padding-top: 0;
}

.no-border {
	border: 0 !important;
}

.card {
	border-radius: 4px;
}

.card-img-wrap {
	position: relative;
	.card-img-price {
		color: #fff;
		font-size: 1.65rem;
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    background-color: rgba(color($colors, msecondary), .8);
	    padding: 1rem;
	    border-radius: 0 4px 0 0;
	}
	.card-img-status {
		width: 100px;
		font-size: 1.65rem;
	    position: absolute;
		transform: rotate(45deg);
	    padding-top: .5rem;
	    padding-bottom: .5rem;
	    top: 10px;
	    right: -25px;
	    z-index: 99;
	    text-align: center;
	    &.closed {
	    	background-color: rgba(color($colors, mprimary), .8);
	    }
	    &.open {
	    	background-color: rgba(#34A694, .8);
	    }
	}
}

// Horizontal Rule
.content {
	hr {
		background-color: rgba(color($colors, mprimary), .4);
		&.light {
			background-color: rgba(color($colors, mprimary), .15);
		}
	}
}

// Swiper
.swiper-pagination-bullet-active {
    // background: color($colors, dark);
    background: color($colors, mprimary);
    opacity: 1;
}

// Footer
.footer {
	background-color: #fff;
}

// Styles borders
.main-styled-border {
	padding-bottom: 1.6rem;
	border-bottom: 1px solid rgba(color($colors, mprimary), .4);
	&::after {
    content: '';
    width: 50px;
    height: 5px;
		background-color: color($colors, black);
    position: relative;
    bottom: -15px;
    left: 50%;
    margin-left: -25px;
    display: block;
	}
}

input {
    color: color($colors, black);
}

.card, .button {
    box-shadow: none !important;
}

.overlay2 {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: black;
    opacity: 0.2;
}

.swiper-pagination-bullet {
    background: white;
    opacity: 0.7;
}

a {
    color: color($colors, msecondary);
    text-decoration: none;
}

.item {
    color: color($colors, black);
}

.range-md .range-bar-active {
    background: color($colors, msecondary);
}

.range-md .range-knob {
    background: color($colors, msecondary);
}

.loading-md .spinner-crescent circle {
    stroke: color($colors, mprimary);
}

.button-clear-md {
    color: color($colors, mprimary);
}

.item-md.item-input.item-input-has-focus .item-inner,
.item-md.item-input.input-has-focus .item-inner {
    border-bottom-color: color($colors, mprimary);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.list-md .item-input.item-input-has-focus:last-child,
.list-md .item-input.input-has-focus:last-child {
    border-bottom-color: color($colors, mprimary);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.item-input-has-focus .label-md[stacked],
.input-has-focus .label-md[stacked],
.item-input-has-focus .label-md[floating],
.input-has-focus .label-md[floating] {
    color: color($colors, black);
}

.btn-bottom-0 {
    // position: fixed;
    position: absolute;
    bottom: 0;
    border-radius: 0;
    margin: 0;
    left: 0;
}

.alert-md .alert-button {
    color: color($colors, mprimary);
}

.alert-md .alert-input:focus {
    border-bottom: 2px solid color($colors, mprimary);
}
ion-footer {
    padding: 0 !important;
    button {
        margin: 0 !important;
    }
}

.alert-md [aria-checked=true] .alert-checkbox-icon {
    border-color: color($colors, mprimary);
    background-color: color($colors, mprimary);
}

h1, h2, h3, h4, h5, h6 {
    color: color($colors, black) !important;
}

ion-navbar {
    .toolbar-background {
        background: rgb(253,205,85) !important;
        background: linear-gradient(0deg, rgba(253,205,85,1) 0%, rgba(198,139,62,1) 100%) !important;
    }
}
.gradient {
    background: rgb(253,205,85) !important;
    background: linear-gradient(0deg, rgba(253,205,85,1) 0%, rgba(198,139,62,1) 100%) !important;
}
