<ion-split-pane when="lg">

    <ion-menu side="left" id="authenticated" [content]="content" class="menu-bg">

        <ion-header>
            <ion-toolbar class="user-profile">

                <div class="user-profile" color="black">
                    <ion-list no-margin class="gradient">
                        <ion-item *ngIf="currentUser">

                            <ion-avatar item-left>
                                <img *ngIf="currentUser.picture" src="{{ currentUser.picture }}">
                                <img *ngIf="!currentUser.picture" src="assets/img/avatar.png">
                            </ion-avatar>

                            <h2 ion-text class="fw700 text-15x" color="black">{{ currentUser.username }}</h2>
                            <p ion-text color="black" *ngIf="currentUser.address">{{ currentUser.address }}</p>

                        </ion-item>
                    </ion-list>
                </div>

            </ion-toolbar>
        </ion-header>

        <ion-content color="black" class="profile-bg">

            <ion-list class="user-list" color="mprimary">
                <button menuClose ion-item *ngFor="let menuItem of appMenuItems" (click)="openPage(menuItem)">
                    {{ menuItem.title }}
                </button>
                <button *ngIf="accountMenuItems != undefined" ion-button icon-left full color="mprimary" no-margin menuClose (click)="logout(accountMenuItems[2])">{{ accountMenuItems[2].title }}</button>
            </ion-list>

        </ion-content>

    </ion-menu>

    <ion-nav [root]="rootPage" main #content swipeBackEnabled="false"></ion-nav>

</ion-split-pane>
