page-checkout,
.checkout {

  .checkout-info {
    .checkout-image {
      width: 100%;
      height: 120px;
      background-size: 100% auto;
      background-position: center;
      border-radius: 4px 4px 0 0;
    }

    .checkout-features {
      ion-icon {
        min-width: 1.5rem;
        text-align: center;
      }
    }
  }

  .item.no-border .item-inner {
    padding-right: 0;
    [item-end] {
      margin: 0;
    }
  }

	.item {
		&.item-block {
			.item-inner {
			  border-style: solid;
			  border-width: 1px;
			  border-color: transparent;
			  border-bottom-color: rgba(color($colors, mprimary), .2);
			}
		}
	}

  .cc-flags {
    img {
      max-width: 32px;
      display: inline-block;
    }
  }

}
