// Profile
.profile {
    .item-md {
        padding-left: 0;
    }

    .card {
        width: auto;
        border-radius: 0;
        margin: 0;
        .item {
			padding-left: 0;
			&.item-block {
				.item-inner {
				  border-style: solid;
				  border-width: 1px;
				  border-color: transparent;
				  border-bottom-color: rgba(color($colors, msecondary), .2);
				}
			}
        }
    }

    ion-card {
        margin-top: 100px;
        overflow: visible;

        ion-card-content {
            padding: 32px;
            background-color: map-get($colors, white);
            color: #fff;
            text-align: center;

            img {
                border-radius: 50%;
                margin: 0 auto;
            }

            h2 {
                font-size: 2.5rem;
                margin-top: .5rem;
                color: color($colors, black);
            }

            h3 {
                font-size: 1.8rem;
                color: color($colors, black);
            }

        }

    }
}
