<ion-header>
    <ion-navbar color="mprimary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <span ion-text>{{ 'Configurar perfil' | translate }}</span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="profile" *ngIf="currentUser">

    <ion-card>
        <ion-card-content>
            <ion-grid no-padding fixed>

                <ion-row no-padding>
                    <ion-col *ngIf="currentUser.picture" >
                        <img src="{{currentUser.picture}}">
                    </ion-col>
                </ion-row>
                <ion-row no-padding>
                    <ion-col>
                        <ion-item>
                            <ion-input id="imageUpload" type="file" accept="image/*" (change)="pictureChange($event)" ></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

    <form [formGroup]="onProfileForm" class="list-form">
        <ion-item>
            <ion-label color="black" floating>{{ 'Nombre' | translate }}</ion-label>
            <ion-input color="black" type="text" [(ngModel)]="currentUser.firstName" formControlName="firstName"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label color="black" floating>{{ 'Apellidos' | translate }}</ion-label>
            <ion-input color="black" type="text" [(ngModel)]="currentUser.lastName" formControlName="lastName"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label color="black" floating>{{ 'Dirección' | translate }}</ion-label>
            <ion-input color="black" type="text" [(ngModel)]="currentUser.address" formControlName="address"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label color="black" floating>{{ 'Correo electrónico' | translate }}</ion-label>
            <ion-input color="black" type="email" [(ngModel)]="currentUser.email" formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label color="black" floating>{{ 'Fecha de nacimiento' | translate }}</ion-label>
            <ion-datetime [(ngModel)]="currentUser.birthDay" formControlName="birthDay" displayFormat="DD/MM/YYYY" max={{maxBirthDay()}}></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label color="black" floating>{{ 'Idioma' | translate }}</ion-label>
            <ion-select [(ngModel)]="currentUser.language" formControlName="language">
                    <ion-option *ngFor="let l of languages" [value]="l.code">{{ l.code | translate }}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label color="black" floating>{{ 'Contraseña antigua' | translate }}</ion-label>
            <ion-input color="black" type="password" [(ngModel)]="currentUser.password"  formControlName="password" value=""></ion-input>
        </ion-item>

        <ion-item>
            <ion-label color="black" floating>{{ 'Contraseña nueva' | translate }}</ion-label>
            <ion-input color="black" type="password" [(ngModel)]="currentUser.newPassword"  formControlName="newPassword" value=""></ion-input>
        </ion-item>

    </form>

</ion-content>

<ion-footer>
    <button ion-button full color="mprimary" [disabled]="!onProfileForm.valid" (click)="sendData()">{{ 'Guardar' | translate }}</button>
</ion-footer>
