page-restaurant-detail {
    .card {
        border-radius: 0;
    }

    .toptop {
        top: 0;

    }

    .segment-md .segment-button {
        border: 0;
    }

    ion-slides.to-top {
        height: auto;
        margin-bottom: -5px;

        .swiper-pagination-bullet-active {
            background: color($colors, mprimary);
            opacity: 1;
        }

        .to-top {
            height: auto;
            margin-bottom: -5px;
        }

        agm-map {
            width: 100%;
            height: 200px !important;
        }
    }

    .tab-reviews {
        ion-list {
            margin-bottom: 0;
            ion-item {
                padding-left: 0;
                .author {
                    color: color($colors, black);
                    // font-style: italic;
                    white-space: nowrap;
                }
            }
        }

    }

    ion-row.header {
        border-bottom: 1px solid color($colors, black);
        margin-bottom: 15px;
    }
    .card-img-wrap .card-img-status {
        width: 100%;
        font-size: 16px;
        position: absolute;
        -webkit-transform: rotate(0);
        transform: rotate(0);
        padding: 15px 20%;
        top: 0;
        right: 0;
        z-index: 99;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        font-weight: bold;
        color: color($colors, mprimary);
    }

    .menu-type {
        .swiper-slide-active {
            img {
                // background: color($colors, mprimary);
            }
        }
        .active {
            img {
                background: color($colors, mprimary);
            }
        }
        .swiper-slide {
            img {
                border-radius: 4px;
                border: 1px solid color($colors, mprimary);
                width: 100px;
            }
        }
        span.title {
            font-size: 14px;
        }
        border-bottom: 1px solid color($colors, black);
        color: color($colors, black);
        text-align: center;
    }


    ion-label {
        white-space: inherit;

    }
    .label-md, .badge-md {
        margin-right: 0 !important
    }
    .item-inner {
        padding: 0 !important;
    }
    .list-md {
        margin: -1px 0 0 ;
    }
    .restaurant-detail {
        agm-map {
            width: 100%;
            height: 200px;
        }
        .scroll-content {
            padding-bottom: 36px;
        }
    }
    .dot{
        margin: auto auto;
        width: 300px;
        height: 300px;
        position: relative;
    }
    
    
    .centraldot{
        width: 6px;
        height: 6px;
        background: rgba(32,150,243,1);
        border-radius: 30px;
        position: absolute;
        left:147px;
        top:147px;
        animation: animationDotCentral linear 3s;
      transform-origin: 50% 50%;
      animation-fill-mode:forwards;
      animation-iteration-count: infinite;
    }
    
    
    .wave{
        width: 260px;
        height: 260px;
        background: rgba(32,150,243,0.4);
        border-radius: 200px;
        position: absolute;
        left:20px;
        top:20px;
        opacity: 0;
        animation: animationWave cubic-bezier(0,.54,.53,1) 3s;
      transform-origin: 50% 50%;
      animation-fill-mode:forwards;
      animation-delay:0.9s;
      animation-iteration-count: infinite;
    }
    
    .wave2{
        width: 260px;
        height: 260px;
        background: rgba(32,150,243,0.4);
        border-radius: 200px;
        position: absolute;
        left:20px;
        top:20px;
        opacity: 0;
        animation: animationWave cubic-bezier(0,.54,.53,1) 3s;
      transform-origin: 50% 50%;
      animation-fill-mode:forwards;
      animation-delay:1.07s;
      animation-iteration-count: infinite;
    }
    
    
    @keyframes animationDotCentral{
    
        0% {transform:  scale(0) ;  opacity: 0; }
        5% {transform:  scale(2) ;  }
        10% { transform:  scale(0.90) ; opacity: 1; }
        11% { transform:  scale(1.50) ; }
        12% { transform:  scale(1.00) ; }
        28% {background: rgba(32,150,243,1);    }
        29% {background: rgba(255,255,255,1);   }
        31% { background: rgba(32,150,243,1);   }
        33% { background: rgba(255,255,255,1);      }
        35% { background: rgba(32,150,243,1);       }
        90%{ opacity: 1;    }
        100% { opacity: 0;  }
    }
    
    @keyframes animationWave{
        0% {    opacity: 0; transform:  scale(0.00);    }
        1% {    opacity: 1;     }
        10% {  background: rgba(32,150,243,0.4);    }
        100% {  transform:  scale(1) ;  background: rgba(32,150,243,0.0); }
    }
    .item-md .item-button {
        padding: 0 0.6em;
        height: 30px;
        font-size: 1.3rem;
        color: #505050;
    }
}
