<ion-header>
    <ion-navbar color="mprimary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title *ngIf="restaurant && restaurant.title">
            <span ion-text>{{ restaurant.title }}</span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="lightest-bg restaurant-detail">

    <ion-card class="full-width" no-margin>
        <div class="card-img-wrap">

            <ion-slides class="to-top primary-bg" pager *ngIf="restaurant && restaurant.images && restaurant.images.length > 0">
                <ion-slide *ngFor="let image of restaurant.images">
                    <img [src]="image">
                </ion-slide>
            </ion-slides>

            <div padding-vertical class="card-img-status" *ngIf="restaurant && restaurant.offers && restaurant.offers.length > 0">
                <button ion-button block full round color="mprimary" (click)="openOffersModal()">
                    <ion-row no-padding>
                        <ion-col text-right>
                            {{ 'PROMOCIONES' | translate }}
                        </ion-col>
                        <ion-col text-left>
                            <ion-icon name="open"></ion-icon>
                        </ion-col>
                    </ion-row>
                </button>
            </div>
        </div>
    </ion-card>

    <ion-toolbar color="mprimary">
        <ion-segment [(ngModel)]="restaurantopts" [(ngModel)]="restaurantopts" color="black">
            <ion-segment-button value="info">{{ 'Información' | translate }}</ion-segment-button>
            <ion-segment-button value="menu">{{ 'Carta' | translate }}</ion-segment-button>
            <ion-segment-button value="reviews">{{ 'Valoraciones' | translate }}</ion-segment-button>
        </ion-segment>
    </ion-toolbar>

    <div [ngSwitch]="restaurantopts">

        <div *ngSwitchCase="'info'" padding>
            <ion-item *ngIf="restaurant && restaurant.description">
                <h2 color="black" ion-text class="fw700">{{ 'Descripción' | translate }}</h2>
                <p ion-text color="black" [innerHTML]="restaurant.description | prettyPrint"></p>
            </ion-item>

            <ion-item *ngIf="restaurant && restaurant.characteristics && restaurant.characteristics.length > 0">
                <h2 color="black" ion-text class="fw700">{{ 'Características' | translate }}</h2>
                <ion-row>
                    <ion-list col-6 *ngFor="let characteristic of restaurant.characteristics">
                        <ion-badge color="mprimary">{{ characteristic | translate }}</ion-badge>
                    </ion-list>
                </ion-row>
            </ion-item>

            <ion-item *ngIf="restaurant && restaurant.types && restaurant.types.length > 0">
                <h2 color="black" ion-text class="fw700">{{ 'Tipo de cocina' | translate }}</h2>
                <ion-row>
                    <ion-list col-6 *ngFor="let type of restaurant.types">
                        <ion-badge color="mprimary">{{ type | translate }}</ion-badge>
                    </ion-list>
                </ion-row>
            </ion-item>

            <ion-item *ngIf="restaurant && restaurant.schedule">
                <h2 color="black" ion-text class="fw700">{{ 'Horario' | translate }}</h2>
                <p ion-text color="black" [innerHTML]="restaurant.schedule | prettyPrint"></p>
            </ion-item>

            <ion-item *ngIf="restaurant && restaurant.priceInfo">
                <h2 color="black" ion-text class="fw700">{{ 'Servicios' | translate }}</h2>
                <p ion-text color="black" [innerHTML]="restaurant.priceInfo | prettyPrint"></p>
            </ion-item>

            <ion-item *ngIf="restaurant && restaurant.phone">
                <h2 color="black" ion-text class="fw700">{{ 'Teléfono' | translate }}</h2>
                <p ion-text color="black">
                    <a href="{{ 'tel:+' + restaurant.phone }}">
                        <ion-icon name="call"></ion-icon> {{ restaurant.phone }}
                    </a>
                </p>
            </ion-item>

            <ion-item *ngIf="restaurant">
                <h2 color="black" ion-text class="fw700">{{ 'Ubicación' | translate }}</h2>
                <div id="map-detail">
                    <agm-map [latitude]="restaurant.lat" [longitude]="restaurant.long" [zoom]="18">
                        <agm-marker [latitude]="restaurant.lat" [longitude]="restaurant.long" [iconUrl]="iconMarker">
                            <agm-info-window [isOpen]="true">
                                <p ion-text color="black" no-margin>
                                    {{restaurant.address}}
                                    <br> {{restaurant.zip}} {{restaurant.city}}
                                    <br> {{restaurant.state}}
                                </p>
                            </agm-info-window>
                        </agm-marker>
                    </agm-map>
                </div>
            </ion-item>
        </div>

        <div *ngSwitchCase="'menu'">

            <ion-toolbar padding-vertical class="menu-type">
                <ion-slides #menuSlides slidesPerView="3">
                    <ion-slide (click)="showMenu('appetizers')" (click)="slideTo(0)" [ngClass]="{'active': menuTypes.appetizers}" *ngIf="restaurant.type == 'bar'">
                        <img src="assets/icon/appetizer-light.svg" *ngIf="menuTypes.appetizers">
                        <img src="assets/icon/appetizer-solid.svg" *ngIf="!menuTypes.appetizers">
                        <span class="title">{{ 'Snacks' | translate }}</span>
                    </ion-slide>
                    <ion-slide (click)="showMenu('appetizers')" (click)="slideTo(0)" [ngClass]="{'active': menuTypes.starters}" *ngIf="restaurant.type == 'restaurant'">
                        <img src="assets/icon/starter-light.svg" *ngIf="menuTypes.starters">
                        <img src="assets/icon/starter-solid.svg" *ngIf="!menuTypes.starters">
                        <span class="title">{{ 'Entrantes' | translate }}</span>
                    </ion-slide>
                    <ion-slide (click)="showMenu('main')" (click)="slideTo(2)" [ngClass]="{'active': menuTypes.main}" *ngIf="restaurant.type == 'restaurant'">
                        <img src="assets/icon/main-light.svg" *ngIf="menuTypes.main">
                        <img src="assets/icon/main-solid.svg" *ngIf="!menuTypes.main">
                        <span class="title">{{ 'Segundos' | translate }}</span>
                    </ion-slide>
                    <ion-slide (click)="showMenu('desserts')" (click)="slideTo(3)" [ngClass]="{'active': menuTypes.desserts}" *ngIf="restaurant.type == 'restaurant'">
                        <img src="assets/icon/dessert-light.svg" *ngIf="menuTypes.desserts">
                        <img src="assets/icon/dessert-solid.svg" *ngIf="!menuTypes.desserts">
                        <span class="title">{{ 'Postres' | translate }}</span>
                    </ion-slide>
                    <ion-slide (click)="showMenu('drinks')" (click)="slideTo(4)" [ngClass]="{'active': menuTypes.drinks}">
                        <img src="assets/icon/drink-light.svg" *ngIf="menuTypes.drinks">
                        <img src="assets/icon/drink-solid.svg" *ngIf="!menuTypes.drinks">
                        <span class="title">{{ 'Bebidas' | translate }}</span>
                    </ion-slide>
                </ion-slides>
            </ion-toolbar>

            <ion-list padding *ngIf="menuTypes.appetizers">
                <ion-item no-padding *ngFor="let dish of dishes.appetizers">
                    <ion-grid no-padding>
                        <ion-row no-padding>
                            <ion-col align-self-center color="mprimary">
                                <h2 ion-text color="black" class="fw500">{{ dish.name }}</h2>
                                <p ion-text color="black" class="text-11x">{{ dish.ingredients }}</p>
                            </ion-col>
                            <ion-col align-self-center text-right>
                                <ion-badge item-end align-self-start color="msecondary" *ngIf="dish.price > 0">
                                    {{ dish.price | currency : '€' }}
                                </ion-badge>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </ion-list>

            <ion-list padding *ngIf="menuTypes.starters">
                <ion-item no-padding *ngFor="let dish of dishes.starters">
                    <ion-grid no-padding>
                        <ion-row no-padding>
                            <ion-col align-self-center color="mprimary">
                                <h2 ion-text color="black" class="fw500">{{ dish.name }}</h2>
                                <p ion-text color="black" class="text-11x">{{ dish.ingredients }}</p>
                            </ion-col>
                            <ion-col align-self-center text-right>
                                <ion-badge item-end align-self-start color="msecondary" *ngIf="dish.price > 0">
                                    {{ dish.price | currency : '€' }}
                                </ion-badge>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </ion-list>

            <ion-list padding *ngIf="menuTypes.main">
                <ion-item no-padding *ngFor="let dish of dishes.main">
                    <ion-grid no-padding>
                        <ion-row no-padding>
                            <ion-col align-self-center color="mprimary">
                                <h2 ion-text color="black" class="fw500">{{ dish.name }}</h2>
                                <p ion-text color="black" class="text-11x">{{ dish.ingredients }}</p>
                            </ion-col>
                            <ion-col align-self-center text-right>
                                <ion-badge item-end align-self-start color="msecondary" *ngIf="dish.price > 0">
                                    {{ dish.price | currency : '€' }}
                                </ion-badge>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </ion-list>

            <ion-list padding *ngIf="menuTypes.desserts">
                <ion-item no-padding *ngFor="let dish of dishes.desserts">
                    <ion-grid no-padding>
                        <ion-row no-padding>
                            <ion-col align-self-center color="mprimary">
                                <h2 ion-text color="black" class="fw500">{{ dish.name }}</h2>
                                <p ion-text color="black" class="text-11x">{{ dish.ingredients }}</p>
                            </ion-col>
                            <ion-col align-self-center text-right>
                                <ion-badge item-end align-self-start color="msecondary" *ngIf="dish.price > 0">
                                    {{ dish.price | currency : '€' }}
                                </ion-badge>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </ion-list>

            <ion-list padding *ngIf="menuTypes.drinks">
                <ion-item no-padding *ngFor="let dish of dishes.drinks">
                    <ion-grid no-padding>
                        <ion-row no-padding>
                            <ion-col align-self-center color="mprimary">
                                <h2 ion-text color="black" class="fw500">{{ dish.name }}</h2>
                                <p ion-text color="black" class="text-11x">{{ dish.ingredients }}</p>
                            </ion-col>
                            <ion-col align-self-center text-right>
                                <ion-badge item-end align-self-start color="msecondary" *ngIf="dish.price > 0">
                                    {{ dish.price | currency : '€' }}
                                </ion-badge>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </ion-list>
        </div>

        <div *ngSwitchCase="'reviews'" class="tab-reviews" padding>
            <ion-list no-padding>
                <ion-item no-padding *ngFor="let review of restaurant.reviews">
                    <ion-grid no-padding>
                        <ion-row no-padding class="header">
                            <ion-col align-self-center color="mprimary">
                                <h2 ion-text color="black" class="fw500 author">{{ review.username }}</h2>
                            </ion-col>
                            <ion-col align-self-center text-right>
                                <ion-badge item-end align-self-start color="msecondary">
                                    <ion-icon name="star"></ion-icon>
                                    {{ review.rating | number:'1.1' }}
                                </ion-badge>
                            </ion-col>
                        </ion-row>
                        <ion-row no-padding>
                            <ion-col>
                                <p ion-text color="black">{{ review.content }}</p>
                            </ion-col>
                        </ion-row>
                        <ion-row no-padding>
                            <ion-col text-right>
                                <p ion-text color="black" class="text-11x">{{ review.date }}</p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </ion-list>
        </div>

    </div>

</ion-content>

<ion-footer>
    <button block ion-button full color="mprimary" *ngIf="restaurant && restaurant.bookingEnabled == '1'" (click)="openOrderDetail()">
        <ion-row>
            <ion-col text-right>
                <ion-icon name="calendar"></ion-icon>
            </ion-col>
            <ion-col text-left>
                {{ 'Reservar' | translate }}
            </ion-col>
        </ion-row>
    </button>
</ion-footer>
