page-orders {

    .item-md {
        padding-left: 0;
    }

    ion-card.list {
        border: 1px solid #ccc;
        -webkit-box-shadow: 0px 0px 5px 3px rgba(color($colors, black), 0.2) !important;
        -moz-box-shadow: 0px 0px 5px 3px rgba(color($colors, black), 0.2) !important;
        box-shadow: 0px 0px 5px 3px rgba(color($colors, black), 0.2) !important;
        .card-content-md {
            padding: 0;


            .card-subtitle {
                font-size: 20px;
                padding: 5px;
                background: color($colors, mprimary); //#e9bd4e;
                margin: -17px -17px 17px;
            }
        
        }
    }

    div {
        color: color($colors, black);
    }

    .separator {
        border-right: 1px solid color($colors, black);
    }

    .inactive {
        background: #ddd;
    }

    ion-icon {
        font-size: 24px;
        color: color($colors, black);
    }

    .removed {
        visibility: hidden;
        opacity: 0;
        -webkit-transition: visibility 0s 1s, opacity 1s ease-in;
        transition: visibility 0s 1s, opacity 1s ease-in;
    }
}
