<ion-header>
    <ion-navbar color="mprimary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <span ion-text>{{ 'Mis reservas' | translate }}</span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="lightest-bg">

    <ion-grid no-padding fixed>
        <ion-row no-padding>
            <ion-col>

                <ion-card *ngIf="!lastOrders || lastOrders && lastOrders.length == 0">
                    <ion-card-content>
                        <p text-center color="black">{{ 'No tienes reservas.' | translate }}</p>
                    </ion-card-content>
                </ion-card>

                <ion-card *ngFor="let order of lastOrders" no-padding class="list" [ngClass]="{'inactive': !order.active || !order.verified, 'removed': order.removed}">
                    <ion-card-header padding>
                        <ion-grid no-padding>
                            <ion-row no-padding>
                                <ion-col no-padding>
                                    <div class="card-subtitle" *ngIf="order.restaurant.type == 'restaurant'">{{ 'Restaurante' | translate }}</div>
                                    <div class="card-subtitle" *ngIf="order.restaurant.type == 'bar'">{{ 'Cóctel Bar' | translate }}</div>
                                    <div style="font-size: 22px; font-weight: bold" (click)="openRestaurant(order.restaurant.id)"><ion-icon name="checkmark" *ngIf="order.verified"></ion-icon> {{ order.restaurant.title }}</div>
                                </ion-col>
                                <ion-col col-2 no-padding text-right>
                                    <ion-icon name="trash" (click)="deleteOrder(order)"></ion-icon>
                                </ion-col>
                            </ion-row>
                        </ion-grid>

                    </ion-card-header>
                    <ion-card-content>
                        <img [src]="order.restaurant.thumbnail" (click)="openRestaurant(order.restaurant.id)">
                        <ion-grid padding>
                            <ion-row no-padding *ngIf="!order.offer">
                                <ion-col text-center no-padding>
                                    <div>{{ 'Fecha' | translate }}</div>
                                    <div>{{ order.date | date: 'dd/MM/yyyy' }}</div>
                                </ion-col>
                                <ion-col text-center no-padding>
                                    <div>{{ 'Hora' | translate }}</div>
                                    <div>{{ order.time }}</div>
                                </ion-col>
                                <ion-col text-center no-padding>
                                    <div *ngIf="order.restaurant.type != 'bar'">{{ 'Comensales' | translate }}</div>
                                    <div *ngIf="order.restaurant.type == 'bar'">{{ 'Personas' | translate }}</div>
                                    <div>{{ order.n }}</div>
                                </ion-col>
                            </ion-row>
                            <ion-row no-padding *ngIf="order.offer">
                                <ion-col text-center no-padding>
                                    <div class="card-subtitle" *ngIf="order.offer">{{ "Promoción" | translate }}</div>
                                    <div style="font-size: 22px; font-weight: bold" *ngIf="order.offer">{{ order.offer.title }}</div>
                                </ion-col>
                            </ion-row>
                            <ion-row no-padding *ngIf="order.offer">
                                <ion-col text-center no-padding>
                                    <div>{{ 'Fecha' | translate }}</div>
                                    <div>{{ order.date | date: 'dd/MM/yyyy' }}</div>
                                </ion-col>
                                <ion-col text-center no-padding>
                                    <div>{{ 'Precio' | translate }}</div>
                                    <div>{{ order.price }}</div>
                                </ion-col>
                                <ion-col text-center no-padding>
                                    <div>{{ 'Personas' | translate }}</div>
                                    <div>{{ order.n }}</div>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                        <button *ngIf="order.active && order.verified" ion-button block full color="mprimary" style="margin:0" (click)="cancelOrder(order)">{{ 'Cancelar' | translate }}</button>
                        <button *ngIf="!order.verified" ion-button block full color="mprimary" style="margin:0" (click)="deleteOrder(order)">{{ 'Borrar' | translate }}</button>
                        <button *ngIf="!order.active && order.verified" ion-button block full color="mprimary" (click)="addReview(order)" style="margin:0">{{ 'Valorar' | translate }}</button>
                        <button *ngIf="order.toConfirm" ion-button block full color="mthird" (click)="confirmOrder(order)" style="margin:0">{{ 'Confirmar' | translate }}</button>
                    </ion-card-content>
                </ion-card>

            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
