<ion-header>
  <ion-navbar color="mprimary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span ion-text>{{ 'Mapa' | translate }}</span>
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="lightest-bg">

  <div id="nearby-map" class="nearby-map">
		<agm-map [latitude]="lat" [longitude]="lng" [zoom]="12">
			<agm-marker *ngFor="let restaurant of restaurants; let i = index"
					[latitude]="restaurant.lat"  [longitude]="restaurant.long"  [iconUrl]="iconMarker">
					<agm-info-window>
						<img [src]="restaurant.thumbnail" style="width: 200px" class="mw240" tappable (click)="openRestaurantDetail(restaurant)">
						<h3 tappable (click)="openRestaurantDetail(restaurant)" color="black">
								<strong>{{restaurant.title}}</strong>
						</h3>
						<p ion-text color="black" no-margin>
								{{restaurant.address}}
								<br> {{restaurant.zip}} {{restaurant.city}}
								<br> {{restaurant.state}}
						</p>
				</agm-info-window>
			</agm-marker>
		</agm-map>
	</div>

</ion-content>
