<ion-header>
    <ion-navbar color="mprimary">
        <ion-title>
            <span ion-text>{{ 'Añadir valoración' | translate }}</span>
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content class="review-add">

    <ion-grid>
        <ion-row>
            <ion-col col-6>
                <ion-item>
                    <ion-label stacked>{{ 'Danos tu valoración' | translate }}</ion-label>
                </ion-item>
            </ion-col>

            <ion-col col-6 text-right>
                <rating [(ngModel)]="review.rate" readOnly="false" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star"
                    nullable="false" (ngModelChange)="onModelChange($event)"></rating>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label stacked color="black">{{ 'Escribe tu opinión sobre la terraza' | translate }}</ion-label>
                    <ion-textarea [(ngModel)]="review.message" placeholder="Qué te gustó más y qué menos" rows="10"></ion-textarea>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>

<ion-footer>
    <button ion-button full color="mprimary" (click)="save()">{{ 'Enviar' | translate }}</button>
</ion-footer>
