.review-add {

    ul {
        padding: 0px;
        margin: 0 auto;

        &.rating li {
            padding: 0px !important;
            background: none;
            color: color($colors, mprimary);

            ion-icon {
                font-size: 30px;
            }
        }
    }

    .item-md {
        padding-left: 0;
    }

    // .item-md.item-input.item-input-has-focus .item-inner,
    // .item-md.item-input.input-has-focus .item-inner {
    //     border-bottom-color: color($colors, mprimary);
    //     -webkit-box-shadow: inset 0 -1px 0 0 color($colors, mprimary);
    //     box-shadow: inset 0 -1px 0 0 color($colors, mprimary);
    // }

    // .list-md .item-input.item-input-has-focus:last-child,
    // .list-md .item-input.input-has-focus:last-child {
    //     border-bottom-color: color($colors, mprimary);
    //     -webkit-box-shadow: inset 0 -1px 0 0 color($colors, mprimary);
    //     box-shadow: inset 0 -1px 0 0 color($colors, mprimary);
    // }

    .item-input-has-focus .label-md[stacked],
    .input-has-focus .label-md[stacked],
    .item-input-has-focus .label-md[floating],
    .input-has-focus .label-md[floating] {
        color: color($colors, black);
    }

    .item-md.item-block .item-inner {
        padding-right: 8px;
        border-bottom: 0;
    }

}
